/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 29, 2021, 9:19:23 AM
    Author     : lutfi
*/

* { font-family: 'Poppins', sans-serif }
.table {
    width: 100%;
    background: white;
    border-radius: 7px;
    overflow: hidden;
}
th {
    font-weight: bold;
    width: 20%;
    color: white !important;
    background: #818CF8 !important;
    padding: 10px;
    text-align: left;
}
td {
    width: 20%;
    color: #6B7280;
}
tr:hover {
    background: #D1D5DB;
}
tr:hover td {
    color: white;
}
.button__round {
    border-radius: 2rem;
}

.profile-form {
    margin-top: -18%;
}

.text-gray {color: #6B7280}
.bg-primary-custom {background-color: #6366F1 !important}
.text-primary-custom {color: #6366F1}
.text-gray-strong {color: #1F2937}

.btn-custom {
    padding-inline: 3em;
    color: white;
    background-color:#6366F1;
    border-radius: 40px;
    border: 2px solid #6366F1;
    transition: all 0.3s ease 0s;
}
.btn-custom:hover {
    color: #6366F1;
    border: 2px solid #6366F1;
    background: transparent;
}
.btn-custom:active {
    padding-inline: 3em;
    color: white;
    background-color:#6366F1;
    border-radius: 40px;
    border: 2px solid #6366F1;
}

.btn-custom-outlined {
    /* background-color: #6366F1;
    color: white;
    border-radius: 40px; */
    padding-inline: 3em;
    color: #6366F1;
    border: 2px solid #6366F1;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
}
.btn-custom-outlined:hover {
    color: white;
    background-color:#6366F1;
}

.header_image {
    box-shadow: inset 2px;
}

.retangle {
    position: absolute;
    width: 1058.82px;
    height: 748.12px;
    left: 60%;
    top: -13%;

    background: linear-gradient(50.66deg, #6366F1 -0.36%, #4F46E5 63.07%);
    border-radius: 80px;
    transform: rotate(41.94deg);
}

.card-custom {
    border-radius: 15px !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-custom:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-img-top {
    height: 12em;
    overflow: hidden; box-sizing: border-box; object-fit: cover;
}